<!DOCTYPE html>
<!-- Created By Yuan Chen
Version 07/18/2020 -->
<html>

<body>
  <div class="container text-center">
    <hr>
    <p>Created with <span class="glyphicon glyphicon-heart"></span> by Hokies . </p>
    <p>Code licensed MIT. docs CC BY 3.0</p>
    <a href="/about"> About</a> · <a href="/faq"> FAQ</a> · <a href="/privacy-policy"> Privacy Policy</a> · <a
      href="/terms">Terms and Conditions</a> · <a href="/contact">Contact Us</a>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
  </div>
</body>

</html>