{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="jumbotron text-center">
        <div class="container">
                <h1>Tracking Risk and Analytics of Covid-19</h1>
                <p>A Virginia Tech Tech Together Campaign Application Proposal </p>
                <a type="button" class="btn btn-lg btn-default"
                        href="https://devcenter.heroku.com/articles/getting-started-with-python"></span> Register </a>
                <a type="button" class="btn btn-lg btn-primary"
                        href="https://github.com/chenyuan99/Tech-Together-App"></span> Log
                        In</a>
        </div>
</div>
<div class="container ">
        <div class="panel panel-default">
                <div class="panel-heading text-center">
                        <h3></span>Sponsor</h3>
                </div>
                <div class="panel-body text-center">
                        <h3>COVID-19 Rapid Response Seed Fund</h3>
                </div>
        </div>
</div>

{% endblock %}