{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1>Tracking Risk and Analytics of Covid-19</h1>
    <p>A Virginia Tech Tech Together Campaign Application Proposal </p>
    <a type="button" class="btn btn-lg btn-default"
      href="https://devcenter.heroku.com/articles/getting-started-with-python"></span> Register </a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/chenyuan99/Tech-Together-App"></span> Log
      In</a>
  </div>
</div>
<div class="container ">
  <h3></span>Advisor</h3>
  <ul>
      <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting
              Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
      <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
  </ul>
  <h3></span>Team</h3>
  <ul>
      <li>PI <a href="/home"></a></li>
      <li>Software Engineer: <a href="https://devcenter.heroku.com/">Yuan Chen</a></li>
      <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on
              Heroku</a></li>
      <li><a href="https://devcenter.heroku.com/articles/django-app-configuration">Configuring Django Apps for
              Heroku</a>
      </li>
  </ul>
  <h3></span>Sponsor</h3>
  <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
      <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on
              Heroku</a></li>
      <li><a href="https://devcenter.heroku.com/articles/django-app-configuration">Configuring Django Apps for
              Heroku</a>
      </li>
  </ul>
</div>

{% endblock %}