{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <h1>About Us</h1>
        <p>A Virginia Tech Tech Together Campaign Application</p>
    </div>
</div>
<div class="container ">
    <h3></span>Advisor</h3>
    <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting
                Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
    </ul>
    <h3></span>Team</h3>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on
                Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/django-app-configuration">Configuring Django Apps for
                Heroku</a>
        </li>
    </ul>
    <h3></span>Sponsor</h3>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on
                Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/django-app-configuration">Configuring Django Apps for
                Heroku</a>
        </li>
    </ul>
</div>

{% endblock %}